
#test{
  display: inline-block;
  background: #909090;
  width: 150px;
  height: 30px;
}

#test2{
  display: inline-block;
  background: #ffcccc;
  width: 150px;
  height: 30px;
}

.top{
  height: 25%;
  background: #02101b;
  display: block;
  text-align: center;
  border-bottom: 1px solid #000000;
}

#white-short-line{
  margin-top: 25px;
  width: 35px;
  height: 5px;
  background: #ffffff;
  margin-bottom: 10px;
}

.top .title {
  font-weight:500;
  font-size: 24px;
  color: #ffffff;
}

.top .undertitle {
  margin-top: 5px;
  font-size: 14px;
  color: #909090;
  margin-bottom: 35px;
}

.logo-img{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


.btnCheck{
  background: #909090;
  width: 100px;
  height: 100px;
}

.mainbody{
  margin-bottom: 76px;
}

.soundBox{
  background: #ffffff;
  color: #3c3c3c;
  padding: 15px 12px 15px 10px;
  border-bottom: 0.1px solid #ededed;
}

.img-container{
  display: inline-block;
}

.title-img{
  border-radius: 1px;
  display: inline-block;
  width: 45px;
  height: 45px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.8);
}

.title-play{
  position: absolute;
  box-sizing: border-box;
  padding:13px;
  width:45px;
  height:45px;
  opacity: 0.7;
}



.soundBox > .title-text{
  width: 70%;
  text-align: left;
  display: inline-block;
  vertical-align: super;
  margin-left: 10px;
}

#title{
  font-weight: 700;
  font-size: 15px;
}

#beatmaker{
  font-size: 12px;
}

.middle{
  margin-top: 12px;
  float:right;
  display:inline-block;
  text-align:right;
}


.soundBox > .middle > .heart-img{
  box-sizing: border-box;
  margin-right: 10px;
  width: 30px;
  padding: 2px;
}

.soundBox > .middle > .heart-img-on{
  box-sizing: border-box;
  margin-right: 8px;
  width: 34px;
  padding: 2px;
}


.intervalBox{
  display: table-cell;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 6px;
  padding-left: 8px;
  background: #f5f5f5;
  /* text-align: center; */
  vertical-align:bottom;
  height: 50px;
  width: 100vw;
  border-bottom: 0.1px solid #ededed;
  /* border-bottom: 1px solid #606060; */
}
