<!--The content below is only a placeholder and can be replaced.-->
<!-- 최상단 타이틀 -->
<div class="top">
  <div id="white-short-line"></div>
  <div class="title">
    ALL THE BEAT
  </div>
  <div class="undertitle">
     {{soundCount}} Tracks
  </div>
</div>


<div class="mainbody">
<!-- <button id="testBtn" (click)="onClick_test()">음악테스트</button> -->

<div class="sound-subtitle"></div>
<div class="soundBox"  *ngFor="let sound of soundData?.sound_recommend_list; let idx=index">
  <img class="title-img" (click)="onClick_startRecommendMusic(idx)" [src]="sound.img_path" onerror="this.src='assets/placeholder.png'"/>
  <div routerLink="/sounddetail/{{sound.sound_pk}}" class="title-text">
    <span id="title">{{sound.sound_name}}</span><br />
    <span id="beatmaker">{{sound.beatmaker_nickname}}</span>
  </div>
  <div class="middle">
    <img class="heart-img" src="assets/heart_white.png" alt="image"/>
  </div>
</div>


<div class="intervalBox"></div>

<div class="sound-subtitle"></div>
<div class="soundBox"  *ngFor="let sound of soundData?.sound_list; let idx=index">
  <img class="title-img" (click)="onClick_startMusic(idx)" [src]="sound.img_path" onerror="this.src='assets/placeholder.png'"/>
  <div routerLink="/sounddetail/{{sound.sound_pk}}" class="title-text">
    <span id="title">{{sound.sound_name}}</span><br/>
    <span id="beatmaker">{{sound.beatmaker_nickname}}</span>
  </div>
  <div class="middle">
    <img class="heart-img" src="assets/heart_white.png" alt="image"/>
  </div>
</div>

</div>
