<div class="join-container">

  <span id="title-text">개인정보수정</span>
  <p id="welcome">{{userData.name}}님의 정보입니다</p>


  <form>
    <!-- <hr class="sep"/> -->

    <div class="group">
      <input type="text" name="name" [(ngModel)]="userData.nickname" required="required"/><span class="highlight"></span><span class="bar"></span>
      <label>닉네임</label>
    </div>

    <div class="group">
      <input type="text" name="contact" [(ngModel)]="userData.mobile" required="required"/><span class="highlight"></span><span class="bar"></span>
      <label>연락처</label>
    </div>

    <div class="group">
      <input type="text" name="worklink" [(ngModel)]="userData.sns" required="required"/><span class="highlight"></span><span class="bar"></span>
      <label>작업물링크(싸클, 유튜브 등)</label>
    </div>

    <div class="group">
      <textarea type="textarea" name="add_info" [(ngModel)]="userData.introduce" required="required"></textarea>
      <span class="highlight"></span><span class="bar"></span>
      <label>본인소개</label>
    </div>
  </form>


<button class="send-btn" (click)="sendUserInfo()">작성완료</button>
</div><!-- join-container -->
