<div class="join-container">

  <span id="title-text">개인정보수정</span>
  <!--<p id="welcome">{{userData.name}}님의 정보입니다</p>-->


  <form>
    <!-- <hr class="sep"/> -->
    <div class="group">
      <div class="input-title">닉네임</div>
      <input class="simple-input" type="text" name="nickname" [(ngModel)]="userData.nickname" required="required"/>
    </div>

    <div class="group">
      <div class="input-title">연락처</div>
      <input class="simple-input" name="contack" type="text" [(ngModel)]="userData.mobile" required="required" />
    </div>

    <div class="group">
      <div class="input-title">작업물링크(SoundClound, Youtube...)</div>
      <input class="simple-input" name="worklink" type="text" [(ngModel)]="userData.sns" required="required" />
    </div>

    <div class="group">
      <div class="input-title">본인소개</div>
      <input class="simple-input" name="add_info" type="textarea" [(ngModel)]="userData.introduce" required="required" />
    </div>


  </form>


<button class="global-btn" (click)="sendUserInfo()">작성완료</button>
</div><!-- join-container -->
