
.login-container{
  padding: 15px;
  height: 100vh;
  background: #ffffff;
}

.naver{
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: #59c250;
  vertical-align: auto;
}

.naver-img{
  padding: 10px;
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}

.or-container{
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #909090;
  margin-bottom: 20px;
}

.update-text{
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  left: 0;
  margin-bottom: 30px;
  color: #909090;
  text-align: center;
  font-size: 15px;
}

.input-title{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 30px;
}

.simple-input{
  padding: 5px 5px;
  width: 95%;
  height: 23px;
}

