<div class="login-container">

  <h1>LOGIN</h1>

  <div class="input-container">
    <div class="input-title">이메일</div>
    <input autocomplete="off" class="simple-input" type="email" required="required" [(ngModel)]="email" />
  </div>

  <div class="inpjut-container">
    <div class="input-title">비밀번호</div>
    <input autocomplete="off" class="simple-input" type="password" required="required" [(ngModel)]="password" />
  </div>

  <button class="global-btn" (click)="onClick_login()">로그인
  </button>

    <div class="or-container">또는</div>

    <div class="naver" (click)="onClick_naverLogin()">
      <img class="naver-img"  src="assets/naver-mark.jpg" />네이버아이디로 로그인
    </div>



    <div *ngIf="isLogin==false" (click)="onClick_join()" class="update-text">아직 회원이 아니신가요? <b>가입하기</b>
    </div>


    <div *ngIf="isLogin==true" class="update-text" (click)="onClick_logout()">[로그아웃하기]</div>

</div>
