<div class="wrapper">

  <span id="title-text">구매의뢰</span>

  <div class="product">'{{soundDetail?.sound_name}}'  by  {{soundDetail?.beatmaker_nickname}}</div>

  <div class="terms">본 비트는 구매자가 단독으로 사용 가능한 'EXCLUSIVE' 권한에 해당합니다 (단, 저작권은 비트메이커가 보유) 구매희망가 책정시 참고하시기 바랍니다.</div>
  <div class="terms">본 비트는 원작자의 허가 없이 무단 다운로드 및 사용이 금지됩니다. 이를 유저가 어길 경우 발생되는 모든 책임은 유저 본인에게 귀속됩니다.</div>
  <div class="terms">아래 기재하는 개인정보는 '올더비트' 서비스 진행 및 기타 관련 이벤트에 활용됩니다.</div>

  <div class="check-area">
  <label class="check-container">상기 절차 및 개인정보 제공에 대해 숙지하였으며 이에 동의합니다
    <input type="checkbox" [checked]="termChecked" (click)="checkFunction()">
    <span class="checkmark"></span>
  </label>
  </div>


  <div class="group">
    <div class="input-title">이름</div>
    <input class="simple-input" type="text" [(ngModel)]="purchase.name" required="required"/>
  </div>

  <div class="group">
    <div class="input-title">연락처</div>
    <input class="simple-input" type="text" [(ngModel)]="purchase.contact" required="required"/>
  </div>

  <div class="group">
    <div class="input-title">작업물링크</div>
    <input class="simple-input" type="text" [(ngModel)]="purchase.worklink" required="required"/>
  </div>

  <div class="group">
    <div class="input-title">구매희망가</div>
    <select class="simple-select" [(ngModel)]="purchase.price">
              <option>LEASE(mp3) ₩30,000</option>
              <option>LEASE(wav) ₩60,000</option>
              <option>EXCLUSIVE ₩200,000</option>
    </select>
    <!-- <input class="simple-input" type="text" [(ngModel)]="purchase.price" required="required"/> -->

  </div>

  <!-- <button (click)="onClick_test()">테스트</button> -->

  <div class="group">
    <div class="input-title">추가요청사항</div>
    <textarea class="simple-input" [(ngModel)]="purchase.add_info" required="required">
    </textarea>
  </div>


  <button class="send-btn" (click)="sendOrder()">구매하기</button>
</div>
