.recommend-container{
width: 100%;
height: 100%;

}
.btn-container{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  margin-bottom: 90px;
}

.btn{
  display: inline-block;
  font-size: 25px;
  color: #ffffff;
  height: 50px;
  background: #02101b;
  border: none;
  outline: none;
  width: 50px;

}

.count-text{
  margin-top: 14px;
  font-size: 20px;
  margin-left: 14px;
}

.analysis-container{
  width: 100%;
}

.analysis-text{
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  width: 80%;
}

.btn_reset{
  display: inline-block;
  font-size: 25px;
  color: #ffffff;
  height: 50px;
  background: #00cecd;
  border: none;
  outline: none;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.finish-container{
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.finish-p{
  font-size: 23px;
}

.score-text{
  font-size: 12px;
  width: 100%;
  color: #909090;
  margin-bottom: 6px;
  display: inline-block;
}

.result-btn{
  display: inline-block;
  color: #ffffff;
  height: 50px;
  background: #02101b;
  border: none;
  outline: none;
  width: 280px;
  margin-bottom: 15px;
}

.btn-container{
  position: fixed;
  width: 280px;
  margin-bottom: 40px;
  left:50%;
  margin-left: -140px;
}
