
.container{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.btn{
  display: inline-block;
  font-size: 25px;
  color: #ffffff;
  height: 50px;
  background: #00cecd;
  border: none;
  outline: none;
  width: 50px;
  margin-top: 30px;

}

.count-text{
  font-size: 20px;
}

.btn_reset{
  display: inline-block;
  font-size: 25px;
  color: #ffffff;
  height: 50px;
  background: #00cecd;
  border: none;
  outline: none;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 100px;
}
