
.join-container{
  padding: 20px;
  height: 100vh;
  background: #ffffff;
}


#title-text{
  margin-top: 40px;
  display: inline-block;
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 10px;
}

.or-container{
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #909090;
  margin-bottom: 20px;
}

.update-text{
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
  color: #909090;
  text-align: center;
  font-size: 15px;
}

.input-title{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 30px;
}

.simple-input{
  padding: 5px 5px;
  width: 95%;
  height: 23px;
}

.notice-container{
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

#introduce{
  height: 300px;
}
