.wrapper{
  background: #ffffff;
  color: #000000;
  padding: 10px 6% 10px 6%;
  height: auto;
}

#title-text{
  margin-top: 36px;
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 60px;
}



.top .undertitle {
  font-size: 14px;
  color: #909090;
  margin-bottom: 25px;
}

.mainbody{
  margin-bottom: 76px;
}

.search-info{
  line-height: 1.5em;
  text-align: center;
  margin-top: 40%;
  margin-bottom: 60%;
  margin-left: 10%;
  width: 80%;
  font-size: 14px;
}

.soundBox{
  background: #ffffff;
  color: #3c3c3c;
  padding: 10px 12px 10px 10px;
  border-top: 0.1px solid #ededed;
}

.img-container{
  display: inline-block;
}

.title-img{
  border-radius: 1px;
  display: inline-block;
  width: 45px;
  height: 45px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.8);
}

.title-play{
  position: absolute;
  box-sizing: border-box;
  padding:13px;
  width:45px;
  height:45px;
  opacity: 0.7;
}

.soundBox > .title-text{
  width: 70%;
  text-align: left;
  display: inline-block;
  vertical-align:top;
  margin-left: 10px;
  padding-top: 16px;
}

#title{
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
}


.middle{
  margin-top: 12px;
  float:right;
  display:inline-block;
  text-align:right;
}























*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body {
  background: #424242;
} */

form {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;

}

form .emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  display: inline-block;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #909090;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #000000;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

label {
  color: #909090;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #000000;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}
