<div class="menu-container">

  <!--엑스-->
  <img class="quit" src="assets/quit.png" routerLink="/soundlist" />

  <div class="menu-box"><a id="question-a" href="https://m.facebook.com/messages/thread/1937020259950147/?entrypoint=web%3Atrigger%3Afb_page_cta_page_primary_button&__tn__=%2CJ" target="_blank">1:1 문의하기<img class="messenger" src="assets/messenger.png"/></a></div>


  <div class="menu-box" routerLink="/recommend">맞춤비트추천</div>
  <div class="menu-box" *ngIf="isLogin" routerLink="/modifyinfo">개인정보수정</div>
  <div class="menu-box" routerLink="/upload">비트업로드</div>
  <div class="menu-box" routerLink="/mybeat">비트관리</div>
  <div class="menu-box" *ngIf="!isLogin" routerLink="/login">로그인 / 회원가입</div>
  <div class="menu-box" *ngIf="isLogin" (click)="onClick_logout()">로그아웃</div>

</div>




