<!-- 최상단 타이틀 -->
<div class="titleBox">
  <img class="title-play" (click)="onClick_startMusic()" [src]="playImg" />
  <img class="title-img"  (click)="onClick_startMusic()" [src]="artworkPath"
  onerror="this.src='/assets/placeholder.png'"/>

</div>



<div class="introduceBox">
  <span id="sound-name" (click)="onClick_startMusic()">{{soundDetail?.sound_name}}</span>

  <div class="submenu-container">
     <img class="share-img" src="assets/share.png" alt="image"ngxClipboard [cbContent]="hereURL" (cbOnSuccess)="openUrlModal()"/>
    <div class="mini-text">URL복사</div>
  </div>

  <div class="submenu-container" id="sub2">
    <img *ngIf="soundDetail?.like_my==0" class="heart-img" src="assets/heart_simple_black.png" alt="image" (click)="onClick_like()"/>
    <img *ngIf="soundDetail?.like_my==1" class="heart-img" src="assets/heart_simple_red.png" alt="image" (click)="onClick_dislike()"/>
    <div class="mini-text">{{soundDetail?.like_count}}</div>
  </div>



  <div id="bpm">{{soundDetail?.sound_bpm}} BPM</div>

  <div class="sub-title-box">
    <div class="sub-title">BEATMAKER</div>
  </div>
  <div class="sub-content">#{{soundDetail?.beatmaker_nickname}}</div>

  <div class="sub-title-box">
    <div class="sub-title">GENRE</div>
  </div>
  <div class="sub-content">{{genreTag}}</div>

  <div class="sub-title-box">
    <div class="sub-title">MOOD</div>
  </div>
  <div class="sub-content">{{moodTag}}</div>

  <div class="sub-title-box">
    <div class="sub-title">TYPE</div>
  </div>
  <div class="sub-content">{{typeTag}}</div>


  <button class="purchase-btn" routerLink="/purchase/{{soundDetail?.sound_pk}}">구매의뢰</button>



<modal id="url-modal">
    <div class="modal">
        <div class="modal-title">
          <img class="modal-icon" src="assets/icon_black.png"/>
        </div>
        <div class="modal-body">
            <div>{{modalText}}</div>
            <button class="modal-button" (click)="closeModal('url-modal');">확인</button>

        </div>
    </div>
    <div class="modal-background"></div>
</modal>
