
.title-img{
  width: 100%;
  margin-bottom: -4px;
}

.title-play{
  position: absolute;
  top: 30%;
  left:50%;
  transform:translateX(-50%);
  display: inline-block;
  width: 80px;
  opacity: 0.8;
}

.introduceBox{
  color: #3c3c3c;
  background: #ffffff;
  padding: 10px 12px 10px 12px;
}

.submenu-container{
  float: right;
  text-align: center;
}

#sub2{
  margin-right: 20px;
}

.mini-text{
  font-size: 11px;
  text-align: center;
}

.heart-img{
  margin-top: 6px;
  width: 30px;
  padding: 2px;
}

.share-img{
  margin-top: 6px;
  width: 30px;
  padding: 2px;
}

#sound-name{
  display: inline-block;
  font-size: 36px;
  font-weight: 500;
  max-width: 50%;
}

.sub-title-box{
  margin-top: 30px;
  margin-bottom: 4px;
}

.sub-title{
  display:inline-block;
  color: #ffffff;
  padding: 4px;
  background: #3c3c3c;
}

#bpm{
  margin-top: 4px;
  color: #00cecd;
  font-weight: 600;
  margin-bottom: 50px;
}

.purchase-btn{
  margin-top: 60px;
  font-size: 22px;
  color: #ffffff;
  height: 60px;
  background: #02101b;
  border-radius: 3px;
  /* background: #00cecd; */
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 40px;
}

#btn2{
  margin-top: 20px;
  margin-bottom: 100px;
}
