.headbox{
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  height: 50px;
  padding: 8px 15px 0 15px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}

@media ( min-width: 768px ) {
  .headbox{
    position:relative;
  }

  .headbox-padding{
    display: none;
  }
}

#question-a{
  font-size: 13px;
  padding: 4px;
  margin-left: 16px;
  padding-top: 5px;
  float: left;
  color: #c3c3c3;
  text-decoration:none
}

#search-img{
  float:left;
  box-sizing: border-box;
  padding: 7px;
  display: inline-block;
  width: 32px;
}

#logo-img{
  margin-top: 11px;
  display:inline-block;
  width:100px;
}

#menu-img{
  float:right;
  box-sizing: border-box;
  padding: 7px;
  display: inline-block;
  width: 34px;
}

.shadow{
  width: 100%;
  opacity: 0.8;
  position:fixed;
  margin-top: 50px;
}

.headbox-padding{
  height: 50px;
}




