<div class="join-container">

  <span id="title-text">추가정보입력</span>
  <!--<p id="welcome">{{userData.name}}님 환영합니다!</p>-->

  <form>
    <!-- <hr class="sep"/> -->

    <div class="group">
      <div class="input-title">닉네임</div>
      <input class="simple-input" name="nickname" type="text" [(ngModel)]="userData.nickname" required="required"/>
    </div>

    <div class="group">
      <div class="input-title">연락처</div>
      <input class="simple-input" name="mobile" type="text" [(ngModel)]="userData.mobile" required="required"/>
    </div>

    <div class="group">
      <div class="input-title">작업물링크(SoundCloud, YouTube...)</div>
      <input class="simple-input" name="sns" type="text" [(ngModel)]="userData.sns" required="required"/>
    </div>

    <div class="group">
      <div class="input-title">본인소개</div>
      <textarea class="simple-input" name="add_info" type="textarea" [(ngModel)]="userData.introduce" required="required" id="introduce">
    </textarea>
    </div>

  </form>


<button class="global-btn" (click)="sendUserInfo()">작성완료</button>
</div><!-- join-container -->
